body {
    text-shadow: 1px 1px black;
    color: blueviolet;
}

body,
h1 {
    font-family: "Raleway", sans-serif;
}

body,
html {
    height: 100%
}


.w3-center {
    margin: 0 0 20px;
}

.w3-center label {
    margin: 0 5px 0 15px;
}

.w3-center input[type="submit"] {
    margin: 0 15px;
}

#dropdownForm {
    display: none;
}
